# Get yours from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Get from Firebase console -> Project Settings -> Service accounts
FIREBASE_ADMIN_SA_EMAIL=
FIREBASE_ADMIN_PKEY=
